.Rproj.user
.Rhistory
.RData
.Ruserdata
ligand_target_matrix.rds
testMatrix.txt
weighted_networks.rds
ArchRLogs/ArchR-createArrows-2cb842f1336e-Date-2021-11-11_Time-13-22-59.log
ArchRLogs/ArchR-createArrows-2cb8ad9404-Date-2021-11-11_Time-13-08-08.log
*.log
default
QualityControl
User1_Project9
example.arrow
pooled.arrow
fragments.ucsc.tsv.gz.tbi
fragments.ucsc.tsv.gz
fragments.ucsc.minimal.tsv.gz
fragments.ucsc.chr1.tsv.gz
pooled_atac.RDS
scenic_helper_files
scenic_output
a5fd847163cd9e7b0d17faaf79dea583Project19_2021-12-06_15_11_56
5772ded67871dc25c805f9505c7e3b16Project9_2021-12-07_02_18_57
exampleATAC
exampleRNA_matrix
exampleRNA_10xFiles
9e93d5fd0eefdef20b60b45db342d7bbpbmc3k_2021-12-11_14_28_05