body
{
  background-color: black !important;
}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

td{ /* for tags */
  word-break: break-all;
}

.col-sm-4, .col-sm-6
{
  /*margin-top: 50px;*/
}

.logo{
  height: 79px !important;
}

.sidebar-menu{
  padding-top: 30px;
}

.sidebar-toggle{
  height: 79px !important;
  padding-top: 30px !important;
}

.menu_item_div
{
 display: inline-block !important; 
 vertical-align: middle !important;
}

.div_container{
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  display: inline-block;
  background-color: white;
  box-shadow: 5px 5px #bcc0c4;
}

.container_title{
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.sub_title{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

.container_text{
  font-size: 22px;
}

.box{
  padding: 15px;
  background-color: white !important;
  background: white;
  border: 1px solid white !important;
  border-radius: 25px;
  box-shadow: 5px 5px #bcc0c4;
}

.box-header{
  background-color: #222d32 !important;
}

.box-body{
  min-height: 250px;
}

.scrollable{
  overflow-x: scroll;
}

#metadataTable, #metadataTableATAC{
  overflow-x: scroll;
}

#mainDiv
{
  width: 90%;
  height: 70vh;
  background-color: lightblue;
}

#clusterBarplot
{
  display: inline-block;
}

#clust1_loader{
  margin-top: -250px;
}

#clust2_loader{
  margin-top: 450px;
}
