body
{
  background-color: black !important;
}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

td{ /* for tags */
  word-break: break-all;
}

.col-sm-4, .col-sm-6
{
  margin-left: 0px;
}

.logo{
  height: 139px !important;
  padding-bottom: 30px !important;
}

.sidebar-menu{
  padding-top: 90px;
}

.sidebar-toggle{
  height: 139px !important;
  padding-top: 60px !important;
  background-color: white!important;
}

.menu_item_div
{
 display: inline-block !important; 
 vertical-align: middle !important;
}

.div_container{
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  display: inline-block;
  background-color: white;
  box-shadow: 5px 5px #bcc0c4;
}

.container_title{
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.sub_title{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

.container_text{
  font-size: 22px;
}

.box{
  padding: 15px;
  background-color: white !important;
  background: white;
  border: 1px solid white !important;
  border-radius: 25px;
  box-shadow: 5px 5px #bcc0c4;
}

.box-header{
  background-color: #222d32 !important;
}

.box-body{
  min-height: 250px;
}

.scrollable{
  overflow-x: scroll;
}

.content-wrapper
{
  margin-top: 39px;
}

.navbar-static-top
{
  background-image: url("images/banner2.png")!important;
  background-position:center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.skin-black .main-header .navbar 
{
  /*background-color: rgb(10 75 105 / 48%);*/
}

.btn-example
{
  background-color: #F28C28;
  color: #FFFFFF;
  font-weight: bold;
}

.h3-example
{
  color: #FF6600;
}

.hr-example
{
  color: #FF6600;
  background-color: #FF6600;
  border-color: #FF6600;
}

#metadataTable, #metadataTableATAC{
  overflow-x: scroll;
}

#mainDiv
{
  width: 90%;
  height: 70vh;
  background-color: lightblue;

}

#clusterBarplot
{
  display: inline-block;
}

#clust1_loader{
  margin-top: 250px;
}

#clust2_loader{
  margin-top: 450px;
}
